In [7]:
"""
5개 columns에 숫자 200개씩 담은 csv가 존재한다. 해당 파일을 기반으로 numpy, pandas 각각 활용하여서 통계적인 분석 값들을 도출하여 출력하시오.
→ 주요 분석 값: 평균, 표준편차, 최고, 최저, 5분위(15%,35%,50%,65%,85%)
→ csv파일을 읽는 방식 제한 없음
→ 샘플개수 지정방식 제한 없음
→ 다만 판다스의 describe()를 포함한 기본적인 종합 통계값 계산 함수/메소드 사용 금지. (다만 자체적으로 만든 함수 및 메소드는 100% 사용 가능)
"""

import pandas as pd
import numpy as np

def sample_mean(sam, mean):
	cols = list(sam.columns)
	for i in range(5):
		mean[i] = sam[cols[i]].sum() / sam[cols[i]].count()
	return

def sample_std(sam, mean, std_arr):
	cols = list(sam.columns)
	for i in range(5):
		sam[str(i + 5)] = (sam[cols[i]] - mean[i]) ** 2
		std_arr[i] = (sam[str(i + 5)].sum() / sam[str(i + 5)].count()) ** 0.5
	return

def sample_max_min(sam, maxs, mins):
	cols = list(sam.columns)
	for i in range(5):
		maxs[i] = sam[cols[i]].max()
		mins[i] = sam[cols[i]].min()
	return

def sample_top5(sam, tn, ts):
    cols = list(sam.columns)
    for i in range(5):
        sam = sam.sort_values(cols[i])
        for j in range(5):
            idx = int(sam[cols[i]].count() * 0.01 * tn[j])
            ts[j][i] = sam.iloc[(idx - 1):idx, i:(i + 1)].values
    return


data_csv = "/content/drive/MyDrive/Colab Notebooks/3_2_data_mining_introduction/testdata.csv"
tops = [15, 35, 50, 65, 85]
data = pd.read_csv(data_csv, index_col=0)
colum = list(data.columns)

means = np.zeros(5)  # 평균
stds = np.zeros(5)  # 표준편차 : 편차의 제곱의 평균의 제곱근
maxs = np.zeros(5)  # 최댓값
mins = np.zeros(5)  # 최솟값
top5 = np.zeros((5, 5))  # 5분위

print(data.info())

sample_mean(data, means)
sample_max_min(data, maxs, mins)
sample_top5(data, tops, top5)
sample_std(data, means, stds)

results = pd.DataFrame({"mean": means, "std": stds, "max": maxs, "min": mins, "top 15%": top5[0], "top 35%": top5[1], "top 50%": top5[2], "top 65%": top5[3], "top 85%": top5[4]}, index=colum)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   column1  200 non-null    float64
 1   column2  200 non-null    float64
 2   column3  200 non-null    float64
 3   column4  200 non-null    float64
 4   column5  200 non-null    float64
dtypes: float64(5)
memory usage: 9.4 KB
None

In [8]:
results.transpose()

          column1   column2   column3   column4     column5
mean    -0.094543  0.502691  1.034798  0.350826   99.500000
std      1.026681  0.284746  1.391868  0.305701   57.734305
max      2.064082  0.997955  7.953506  0.992074  199.000000
min     -2.758252  0.001466  0.000485  0.000058    0.000000
top 15% -1.111006  0.148625  0.029714  0.015992   29.000000
top 35% -0.527882  0.373635  0.218113  0.122764   69.000000
top 50% -0.096245  0.496254  0.537653  0.292245   99.000000
top 65%  0.328090  0.651222  0.951922  0.473280  129.000000
top 85%  0.923353  0.840895  2.153592  0.732526  169.000000

In [9]:
data.describe()

,column1,column2,column3,column4,column5,5,6,7,8,9
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,2.000000e+02,200.000000,200.000000,200.000000
mean,-0.094543,0.502691,1.034798,0.350826,99.500000,1.054074,8.108021e-02,1.937297,0.093453,3333.250000
std,1.029257,0.285460,1.395361,0.306468,57.879185,1.381729,7.774020e-02,5.636044,0.085301,2988.718789
min,-2.758252,0.001466,0.000485,0.000058,0.000000,0.000003,6.368874e-09,0.000004,0.000023,0.250000
25%,-0.830810,0.273100,0.114862,0.047785,49.750000,0.148865,1.442719e-02,0.192101,0.028115,637.750000
50%,-0.091969,0.499331,0.542965,0.293555,99.500000,0.516144,5.045556e-02,0.681858,0.085886,2500.250000
75%,0.610110,0.718912,1.332856,0.633760,149.250000,1.352925,1.367474e-01,1.030469,0.120852,5587.750000
max,2.064082,0.997955,7.953506,0.992074,199.000000,7.095347,2.512261e-01,47.868527,0.411199,9900.250000